{% extends 'base.html' %}

{% block content %}
  <p></p>
  <form role="form" id="edit-address-form" method="POST" action="{% if type == 'billing' %}{% url 'add_billing_address' %}{% else  %}{% url 'add_shipping_address' %}{% endif %}">{% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label class="control-label field-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field }}
            <label for="{{ field.auto_id }}" class="error"></label>
        <div class="clearfix"></div>
        </div>
    {% endfor %}

    <div class="btn-reg col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group mt-20">
            <button type="button" id="edit-address" class="btn btn-info ajax-submit">
              <div class="item-loader">
                <span class="loader">
                  <img src="{{ STATIC_URL }}img/loader.gif"/>
                </span>
              </div>
             save
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
  </form>

{% endblock content %}
