<div class="col-xs-6 col-sm-2 col-md-3 col-lg-2 mini">
    <!-- /.action additional class to item -->
    <div class="item mini">
      <div class="itemName">
        <div class="itemVertical">
          {{ exhibit.item.name }}
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="itemImg">
        <a class="itemLink btn-battle" data-id="{{ exhibit.id }}"
           style="background-image: url({{ exhibit.item.image.url }});
           {% if exhibit.item.image.width > exhibit.item.image.height %}
            background-size:100% auto ;
           {% else %}
            background-size: auto 100%;
           {% endif %}
          ">
        </a>
      </div>
      <div class="itemInfo">
        <!--<div class="item-timer">timer: <span>{{ exhibit.item.bidding_time }} sec</span></div>-->
        <div class="itemTable">
          <div class="itemTimer">
            <div class="start-message">Time left:</div>
            <div class="time bidding-refund-timer" data-timeleft="{{ exhibit.refund_time_left }}">-- : -- : --</div>
          </div>
        </div>
        <div class="itemBid">
          <div class="itemBuy">
            <button id="bidding_button_{{ exhibit.id }}" data-item_pk="{{ exhibit.item.pk }}" class="itemBuyBtn btn-buy btn-buy-now">Buy ${{ exhibit.item.price }}</button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
</div>

