{% extends 'base.html' %}

{% block extra_meta %}
<meta property="fb:app_id" content="{{app_id}}">
<meta property="og:title" content="{{item.name}}">
<meta property="og:image" content="http://{{site}}{{item.image.url}}">
<meta property="og:url" content="http://{{site}}{{url}}">
<meta property="og:type" content="product.item">
<meta property="product:availability" content="preorder" /> 
<meta property="product:condition"              content="new" />
<meta property="product:retailer_item_id"       content="11" /> 
<meta property="product:price:amount"           content="1" /> 
<meta property="product:price:currency"         content="USD" /> 
{% endblock extra_meta %}

{% block title %}{{ item.name }}{% endblock title %}

{% block content %}
    <section class="content">
      <div class="container w-1300">
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="header">
                 <h1>{{ item.name }}</h1>
              </div>
           </div>
           <div class="clearfix"></div>
        </div>
        <div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div id="ModalBuyNow">
                    <div class="modal-dialog">
                      <div class="">
                        <div class="modal-header">
                          <h1 class="modal-title" id="myModalLabel">
                              {% for category in item.categories.all %}
                                {{ category }} {% if not forloop.last %} / {% endif %}
                              {% endfor %}
                            <span class="pull-right">
                              {{ item.brand }}
                            </span>
                          </h1>
                        </div>
                        <div class="modal-body ">
                          <div class="left-bar col-xs-12 col-sm-6 col-md-7 col-lg-7 p0">
                            <h4>{{ item.name }}</h4>
                            <p>{{ item.description|safe }}</p>
                            <div class="thumbnails">
                              {% for image in item.images.all %}
                                <a href="javascript:void(0);">
                                  <img src="{{ image.img.url }}"  alt="Thumbnail">
                                </a>
                              {% endfor %}
                            </div>
                          </div>
                          <div class="right-bar col-xs-12 col-sm-6 col-md-5 col-lg-5 text-center p0">
                            <img class="main-image" src="{{ item.image.url }}"  alt="Placeholder" class="placeholder">
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <!-- profile -->
           <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pl-15">
              <div class="user-profile">
                 <div class="panel-group" id="accordion">
                    {% if user.is_authenticated %}
                        {% include 'account/profile_panel.html' %}
                    {% else %}
                        {% include 'account/profile_panel_non_auth.html' %}
                    {% endif %}
                 </div>
              </div>
           </div>
           <!-- end profile -->
           <div class="clearfix"></div>
        </div>
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
              <div class="link-up">
                 <a href="javascript:void(0)" id="go-up" style="display: inline;">
                 <span class="glyphicon glyphicon-chevron-up"></span>Back To Top
                 </a>
              </div>
           </div>
           <div class="clearfix"></div>
        </div>
      </div>
    </section>

  <script type="text/javascript">
    $(document).ready(function() {
      $('body').on('click', '.modal-body .thumbnails img', function(){
        var src = $(this).attr('src');
        $('.modal-body .main-image').attr('src', src);
      })
    });
  </script>

{% endblock content %}
